{;; HTTP port and ip to serve on
 :port 31173
 :ip "0.0.0.0"
 ;; How long does executing a paint command take
 :command-duration-ms 10 ; make short for local debug

 ;; Canvas size
 :width 160 :height 100
 :background-logo? true ; show a very cool logo in the canvas background

 ;; How often to take a PNG snapshot, this affects both web UI and files created
 :png {:interval 500}

 ;; Admin config, for the love of all that is good, CHANGE the password before deploying
 :admin {:password "letmein"}

 :video {:ffmpeg-executable "/opt/homebrew/bin/ffmpeg"
         :framerate 10}
 }
