{;; HTTP port and ip to serve on
 :port 31173
 :ip "0.0.0.0"
 ;; How long does executing a paint command take
 :command-duration-ms 100

 ;; Canvas size
 :width 160 :height 100

 ;; How often to take a PNG snapshot
 :png {:interval 1000 :prefix "art_"}
 }
